# Python virtual environment
venv/

# Byte-compiled/optimized/DLL files
__pycache__/
*.py[cod]

# Unit test/coverage reports
tests/unittests/reports
.coverage
.pytest_cache/
htmlcov/
.tox/
coverage.xml

# Temporary developer scripts
dev_scripts

# Sphinx documentation
docs/_build

# Distribution/packaging
build/
dist/
*.egg-info/

# sphinx
docs/_build
docs/_static
docs/_templates

.env

# IDE
.idea 

etc/cfg/base.yml
src/ska_src_clients/gui/db.sqlite3

# Node and frontend build artifacts
node_modules/
*.log
*.tmp
*.cache

# Ignore all build output in frontend
ska-src-web-ui/frontend/build/
ska-src-web-ui/frontend/dist/
ska-src-web-ui/frontend/node_modules/
ska-src-web-ui/frontend/.next/
ska-src-web-ui/frontend/.cache/
ska-src-web-ui/frontend/.turbo/
ska-src-web-ui/frontend/*.log

# Ignore all generated JS/JSX/TS/TSX map files
*.js
*.jsx
*.ts
*.tsx
*.map

# But keep source files in src/
!ska-src-web-ui/frontend/src/**