{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>API Status</title>
     <link rel="stylesheet" href="{% static 'oper/style.css' %}">
</head>
<body>
    <h1>API Status</h1>

    {% for item in api_status_responses %}
        <div class="api-block">
            <div class="api-header" onclick="toggleContent('content-{{ forloop.counter }}')">
                <span>
                    <strong>{{ item.api_name }}</strong>
                </span>
                <span class="status-circle {% if item.ping.status == 'UP' %}green{% else %}red{% endif %}">
                    {{ item.ping.status }}
                </span>
            </div>
            <div class="api-content" id="content-{{ forloop.counter }}">
                <table>
                    {% for header, value in item.health.items %}
                    <tr>
                        <th>{{ header }}</th>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endfor %}

    <script>
        function toggleContent(id) {
            var content = document.getElementById(id);
            if (content.style.display === "none" || content.style.display === "") {
                content.style.display = "block";
            } else {
                content.style.display = "none";
            }
        }
    </script>
</body>
</html>
