{% load static %}
<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" href="{% static 'oper/style.css' %}">
</head>
<body>
    <h1>SRCNet Operator Interface</h1>

    <div class="menu-container">
        <div class="menu-card">
            <strong><a href="{% url 'oper:api_status' %}">API status</a></strong>
            <br/>
            Check the status of the SRCNet APIs.
        </div>
        <div class="menu-card">
            <strong><a href="{% url 'oper:test_rse' %}">Test RSE Connectivity</a></strong>
            <br/>
            Test an RSE's connectivity.
        </div>
        <div class="menu-card">
            <strong>Something else</strong>
        </div>
        <div class="menu-card">
            <strong>Something else</strong>
        </div>
    </div>
</body>
</html>
